@import url('https://fonts.googleapis.com/css?family=Roboto');

body{
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Roboto', sans-serif;
    color: #fff;
}

.banner{
    background: url(/img/heroes.jpg) no-repeat 0;
    background-size: cover;
    background-position: center;
    height: 100%;
    width: 100%;
    display: grid;
}

.selectHero{
    //toggle display
    width: max-content;
    height: max-content;
    justify-self: center;
    align-self: center;
    text-align: center;
    .container{
        width: max-content;
    }
    .error{
        opacity: 0;
        background: rgb(161, 53, 53);
        border-radius: 5px;
        transition: all 0.5s ease;
    }
    .searchHero{
				display: inline-block;
				padding-left: 7px;
        width: 300px;
				height: 50px;
				padding: 5px;
				&:focus{
					outline: none;
				}

    }
    .button{
				display: inline-block;
				width: 55px;
				height: 49px;
				border-radius: 5px;
        
		}
		h2{
			font-size: 3rem;
		}
		.suggestions{
			padding: 0;
			width: 300px;
			border-radius: 5px;
			position: absolute;
	}	
}

.heroInfo {
    //toggle display
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: 10% 80% 10%;
    grid-template-rows: 10% 80% 10%;
    .heroInfoGrid{
				grid-area: 2 / 2 / 3 / 3;
				grid-gap: 20px;
        display: grid;
        grid-template-columns: 33.33% 33.33% 33.33%;
        grid-template-rows: 50% 50%;
        grid-template-areas: 
        'heroImg statsCont matchups'
        'tips tips tips';
        .heroImg{
            height: 100%;
            width: 100%;
            justify-self: center;
            grid-area: heroImg;
            border-radius: 50px;
            .character{
                height: 100%;
                width: 100%;
            }
        }
        .statsCont{
            display: grid;
            align-content: center;
            grid-area: statsCont;
        }
        .matchups{
            text-align: center;
            display: grid;
						grid-area: matchups;
						.strong, .weak{
							margin: 10px 0;
						}
            img{
                padding: 0 10px;
            }
            .weak{
                align-self: end;
            }
        }
        .tips{
            grid-area: tips;
            padding: 20px;
            li{
                padding: 10px 0;
            }
        }
    }

}
.return{
	grid-area: 1 / 1 / 2 / 2;
	width: 100%;
	height: 100%;
	display: grid;
	justify-content: center;
	align-content: center;
	.fas{
        transform: translateY(15px);
		cursor: pointer;
		&:hover{
			color: #3b20aa;
		}
    }    
}
.selected{
    background: rgb(105, 130, 194) !important;
}
.statsCont, .matchups, .tips{
	background-image: linear-gradient(to bottom, #20105d, #4b0097);
	border: 2px solid #7a7acc;
}
table {
    border-collapse: separate;
    border-spacing: 50px 0;
    font-size: 20px;
    td {
        font-size: 16px;
        padding: 10px 0;
      }
	}
	

.listItem{
	color: #000;
	margin: 0;
	list-style-type: none;
	text-align: left;
	padding: 4px 10px;
	background: #fff;
	width: 100%;
	cursor: pointer;
	&:hover{
		background: rgb(105, 130, 194);
	}
}
  
.displayNone{
    display: none;
}
.align-left{
    transform:translateX(-30%);
}
.align-right{
    transform:translateX(130%);
}
.align-top{
    transform: translateY(-30%);
}
.align-bottom{ 
    transform: translateY(130%);
}
.slide-in{
    opacity: 0;
    transition: all 1s;
}
.active{
    opacity: 1 !important;
    transform: translateX(0%);
}
.hoverText{
    color: green;
}