@import url("https://fonts.googleapis.com/css?family=Roboto");
body {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;
  color: #fff; }

.banner {
  background: url(/img/heroes.jpg) no-repeat 0;
  background-size: cover;
  background-position: center;
  height: 100%;
  width: 100%;
  display: grid; }

.selectHero {
  width: max-content;
  height: max-content;
  justify-self: center;
  align-self: center;
  text-align: center; }
  .selectHero .container {
    width: max-content; }
  .selectHero .searchHero {
    display: inline-block;
    padding-left: 7px;
    width: auto;
    height: 40px; }
  .selectHero .button {
    display: inline-block;
    width: 45px;
    height: 40px;
    margin-left: -3px; }
  .selectHero h2 {
    font-size: 3rem; }
  .selectHero .suggestions {
    padding: 0;
    width: 193px;
    position: absolute; }

.selectMap {
  display: grid;
  height: 100%;
  width: 100%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr; }
  .selectMap .map {
    background: url("https://via.placeholder.com/900x200") no-repeat 0;
    background-size: cover;
    background-position: center;
    grid-auto-columns: auto;
    grid-auto-rows: auto;
    display: grid;
    justify-content: center;
    align-content: center; }
    .selectMap .map h2 {
      width: max-content;
      height: max-content;
      background: green; }

.heroInfo {
  display: grid;
  width: 100%;
  height: 100%;
  grid-template-columns: 10% 80% 10%;
  grid-template-rows: 10% 80% 10%; }
  .heroInfo .heroInfoGrid {
    grid-area: 2 / 2 / 3 / 3;
    grid-gap: 20px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 'heroImg statsCont matchups' 'heroImg tips tips'; }
    .heroInfo .heroInfoGrid .heroImg {
      height: 100%;
      width: 450px;
      justify-self: center;
      grid-area: heroImg;
      border-radius: 50px; }
    .heroInfo .heroInfoGrid .statsCont {
      display: grid;
      align-content: center;
      grid-area: statsCont; }
    .heroInfo .heroInfoGrid .matchups {
      text-align: center;
      display: grid;
      grid-area: matchups; }
      .heroInfo .heroInfoGrid .matchups .strong, .heroInfo .heroInfoGrid .matchups .weak {
        margin: 10px 0; }
      .heroInfo .heroInfoGrid .matchups img {
        padding: 0 10px; }
      .heroInfo .heroInfoGrid .matchups .weak {
        align-self: end; }
    .heroInfo .heroInfoGrid .tips {
      grid-area: tips;
      padding: 20px; }
      .heroInfo .heroInfoGrid .tips li {
        padding: 10px 0; }

.return {
  grid-area: 1 / 1 / 2 / 2;
  width: 100%;
  height: 100%;
  display: grid;
  justify-content: center;
  align-content: center; }
  .return .fas {
    transform: translateY(15px);
    cursor: pointer; }
    .return .fas:hover {
      color: #3b20aa; }

.selected {
  background: #3b20aa; }

.statsCont, .matchups, .tips {
  background-image: linear-gradient(to bottom, #20105d, #4b0097);
  border: 2px solid #7a7acc; }

table {
  border-collapse: separate;
  border-spacing: 50px 0;
  font-size: 20px; }
  table td {
    font-size: 16px;
    padding: 10px 0; }

.listItem {
  color: #000;
  margin: 0;
  list-style-type: none;
  text-align: left;
  padding: 4px 10px;
  background: #fff;
  width: 100%;
  cursor: pointer; }
  .listItem:hover {
    background: #6982c2; }

.displayNone {
  display: none; }

/*# sourceMappingURL=main.css.map */
